In [2]:
import os
import time
import json
import numpy as np
import pandas as pd

In [19]:
data_dir = "../output/data"
file_list = os.listdir(data_dir)
file_count = len(file_list)
item_list = list()

print(f"file_count: {file_count}")

for i, filename in enumerate(file_list):
    file_path = os.path.join(data_dir, filename)
    with open(file_path, "r") as file:
        json_str = file.read()
        matches = json.loads(json_str)
        match_count = len(matches)
        
        for j, match in enumerate(matches):
#             print(f"match: {match}")
#             break
            
            mid = i * file_count + j
            base_id =  f"{int(time.time())}"
            for k, round in enumerate(match):
                match_id = f"{mid}"
                round_id = f"{base_id}{k}"
                state = round[0]
                action = round[2]
                next_state = round[3]
                chapture_list = round[6]
                chaptures = ','.join(chapture_list)
                chapture_reward = round[7]
                
                win = 0
                done = round[5]
                if "K" in chapture_list:
                    win = -1
                    done = True
                elif "k" in chapture_list:
                    win = 1
                    done = True
                    
                round_dict = {"match_id": match_id,
                              "round_id": round_id,
                              "state": state,
                              "action":action,
                              "next_state": next_state,
                              "done": done,
                              "chaptures": chaptures,
                              "chapture_reward": chapture_reward,
                              "win": win}
                item_list.append(round_dict)
                
                if win == 1 or win == -1:
                    break

file_count: 21

In [20]:
data = pd.DataFrame(item_list)

In [21]:
data

,match_id,round_id,state,action,next_state,done,chaptures,chapture_reward,win
0,0,16922778830,RNBAKABNR/9/1C5C1/P1P1P1P1P/9/9/p1p1p1p1p/1c5c...,f0e1,RNBAK1BNR/4A4/1C5C1/P1P1P1P1P/9/9/p1p1p1p1p/1c...,False,N,-6.28,0
1,0,16922778831,RNBAK1BcR/4A4/1C5C1/P1P1P1P1P/9/9/p1p1p1p1p/1c...,h2g2,RNBAK1BcR/4A4/1C4C2/P1P1P1P1P/9/9/p1p1p1p1p/1c...,True,K,-4.92,-1
2,1,16922778830,RNBAKABNR/9/1C5C1/P1P1P1P1P/9/9/p1p1p1p1p/1c5c...,f0e1,RNBAK1BNR/4A4/1C5C1/P1P1P1P1P/9/9/p1p1p1p1p/1c...,False,N,-6.28,0
3,1,16922778831,RNBAK1BcR/4A4/1C5C1/P1P1P1P1P/9/9/p1p1p1p1p/1c...,h2g2,RNBAK1BcR/4A4/1C4C2/P1P1P1P1P/9/9/p1p1p1p1p/1c...,True,K,-4.92,-1
4,2,16922778830,RNBAKABNR/9/1C5C1/P1P1P1P1P/9/9/p1p1p1p1p/1c5c...,f0e1,RNBAK1BNR/4A4/1C5C1/P1P1P1P1P/9/9/p1p1p1p1p/1c...,False,N,-6.28,0
...,...,...,...,...,...,...,...,...,...
2211,462,16922778846,RNBc2B2/4K2C1/9/2P3P1P/P3P4/9/p1p1p1p1p/1c4n2/...,b0a2,R1Bc2B2/4K2C1/N8/2P3P1P/P3P4/9/p1p1p1p1p/1c4n2...,False,R,-27.87,0
2212,462,16922778847,c1B3B2/4K2C1/N8/2P3P1P/P3P4/9/p1p1p1p1p/1c4n2/...,h1h3,c1B3B2/4K4/N8/2P3PCP/P3P4/9/p1p1p1p1p/1c4n2/9/...,False,,0.00,0
2213,462,16922778848,c1B3B2/4K4/N8/2P3PCP/P3P4/9/p1p1p1p1p/1c4n2/9/...,g3g4,c1B3B2/4K4/N8/2P4CP/P3P1P2/9/p1p1p1p1p/1c4n2/9...,False,C,-25.41,0
2214,462,16922778849,c1B3B2/4K4/N8/2P4rP/P3P1P2/9/p1p1p1p1p/1c4n2/9...,c0e2,c5B2/4K4/N3B4/2P4rP/P3P1P2/9/p1p1p1p1p/1c4n2/9...,False,,0.00,0
2215,462,169227788410,c5B2/4K4/N3B4/2P1r3P/P3P1P2/9/p1p1p1p1p/1c4n2/...,e2c0,c1B3B2/4K4/N8/2P1r3P/P3P1P2/9/p1p1p1p1p/1c4n2/...,True,K,-4.92,-1

In [22]:
data.dtypes

match_id            object
round_id            object
state               object
action              object
next_state          object
done                  bool
chaptures           object
chapture_reward    float64
win                  int64
dtype: object

In [23]:
data["win"].map(lambda x: 1 if x != 0 else 0)

0       0
1       1
2       0
3       1
4       0
       ..
2211    0
2212    0
2213    0
2214    0
2215    1
Name: win, Length: 2216, dtype: int64

In [24]:
data["converted"] = data["win"].apply(lambda x: 1 if x != 0 else 0)

In [25]:
data

,match_id,round_id,state,action,next_state,done,chaptures,chapture_reward,win,converted
0,0,16922778830,RNBAKABNR/9/1C5C1/P1P1P1P1P/9/9/p1p1p1p1p/1c5c...,f0e1,RNBAK1BNR/4A4/1C5C1/P1P1P1P1P/9/9/p1p1p1p1p/1c...,False,N,-6.28,0,0
1,0,16922778831,RNBAK1BcR/4A4/1C5C1/P1P1P1P1P/9/9/p1p1p1p1p/1c...,h2g2,RNBAK1BcR/4A4/1C4C2/P1P1P1P1P/9/9/p1p1p1p1p/1c...,True,K,-4.92,-1,1
2,1,16922778830,RNBAKABNR/9/1C5C1/P1P1P1P1P/9/9/p1p1p1p1p/1c5c...,f0e1,RNBAK1BNR/4A4/1C5C1/P1P1P1P1P/9/9/p1p1p1p1p/1c...,False,N,-6.28,0,0
3,1,16922778831,RNBAK1BcR/4A4/1C5C1/P1P1P1P1P/9/9/p1p1p1p1p/1c...,h2g2,RNBAK1BcR/4A4/1C4C2/P1P1P1P1P/9/9/p1p1p1p1p/1c...,True,K,-4.92,-1,1
4,2,16922778830,RNBAKABNR/9/1C5C1/P1P1P1P1P/9/9/p1p1p1p1p/1c5c...,f0e1,RNBAK1BNR/4A4/1C5C1/P1P1P1P1P/9/9/p1p1p1p1p/1c...,False,N,-6.28,0,0
...,...,...,...,...,...,...,...,...,...,...
2211,462,16922778846,RNBc2B2/4K2C1/9/2P3P1P/P3P4/9/p1p1p1p1p/1c4n2/...,b0a2,R1Bc2B2/4K2C1/N8/2P3P1P/P3P4/9/p1p1p1p1p/1c4n2...,False,R,-27.87,0,0
2212,462,16922778847,c1B3B2/4K2C1/N8/2P3P1P/P3P4/9/p1p1p1p1p/1c4n2/...,h1h3,c1B3B2/4K4/N8/2P3PCP/P3P4/9/p1p1p1p1p/1c4n2/9/...,False,,0.00,0,0
2213,462,16922778848,c1B3B2/4K4/N8/2P3PCP/P3P4/9/p1p1p1p1p/1c4n2/9/...,g3g4,c1B3B2/4K4/N8/2P4CP/P3P1P2/9/p1p1p1p1p/1c4n2/9...,False,C,-25.41,0,0
2214,462,16922778849,c1B3B2/4K4/N8/2P4rP/P3P1P2/9/p1p1p1p1p/1c4n2/9...,c0e2,c5B2/4K4/N3B4/2P4rP/P3P1P2/9/p1p1p1p1p/1c4n2/9...,False,,0.00,0,0
2215,462,169227788410,c5B2/4K4/N3B4/2P1r3P/P3P1P2/9/p1p1p1p1p/1c4n2/...,e2c0,c1B3B2/4K4/N8/2P1r3P/P3P1P2/9/p1p1p1p1p/1c4n2/...,True,K,-4.92,-1,1

In [26]:
data.to_excel("./hoho_chess_data.xlsx", index = False)